@page
@model RegisterModel
@{
    Layout = "~/Areas/Identity/Pages/_Layout.cshtml";

    ViewData["Title"] = "Register";

    var roles = (List<IdentityRole>)ViewData["roles"];
    ViewBag.roles = roles;
    }


    <head>
        <link href="assets/css/SysAdmin.css" rel="stylesheet" />
    </head>
    <body style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('@Url.Content("~/assets/img/hero-bg.png")'); width: 1481px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 login-box">
                    <div class="col-lg-12 login-title">
                        REGISTER
                    </div>
                    <div class="col-lg-12 login-form">
                        
                            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Name">Role</label>
                                    <select asp-for="Input.Name" class="dropdown"> <i class="bi bi-chevron-down"></i>
                                            <option value="Admin">Admin</option>
                                            <option value="VAM">VAM</option>
                                    </select>
                                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                                </div>
                                <div class="col-lg-12 loginbttm">
                                    <div class="col-lg-6 login-btm login-button">
                                        <button type="submit" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        

    </body>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
