body{
    background: url("../img/bus2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(8, 8, 8);
    font-family: lato;
    font-size: 20px;
    line-height: 2;
 }